<md-sidenav-layout [class.m2app-dark]="isDarkTheme">

  <md-toolbar color="primary" class="header-main">
    <logo
      [appName]="APP_CONSTANTS.APP_TITLE.TITLE">
    </logo>
    <div class="menu">
      <navigation [navOptions]="navOptions"
                  [selectedNavOption]="selectedNavOption"
                  (navOptionSelected)="navOptionSelected($event)">
      </navigation>
      <button md-raised-button [md-menu-trigger-for]="menu" id="selectThemeId" color="accent">
        {{APP_CONSTANTS.APP_THEMES.SELECT_APP_THEME}}
      </button>
      <md-menu #menu="mdMenu">
        <button md-menu-item (click)="isDarkTheme = true">{{APP_CONSTANTS.APP_THEMES.DARK}}</button>
        <button md-menu-item (click)="isDarkTheme = false">{{APP_CONSTANTS.APP_THEMES.LIGHT}}</button>
      </md-menu>
    </div>
  </md-toolbar>

  <div class="app-content">
    <movie-info *ngIf="mode === NAV_OPTIONS.MOVIE"
                (showToast)="showToast($event)">
    </movie-info>
    <game-component *ngIf="mode === NAV_OPTIONS.GAME"
                    (showToast)="showToast($event)">
    </game-component>
  </div>

</md-sidenav-layout>
